extends layout

block content
  div(class="reveal")
    div(class="slides")
      section
        h3 How to Seek and Land a Job
        br
        small David Bayless
        br
        small CompoZed Labs
        br
        img(src="images/compozed.png" height="40px" style="border:0; background: none; box-shadow: none;")
      section
        h3 Agenda
        br
        ol
          li(class="fragment") My Background
          li(class="fragment") What I do now
          li(class="fragment") How to Find Jobs
          li(class="fragment") Your Resume
          li(class="fragment") Interviews
          li(class="fragment") Other Tips
          li(class="fragment") Q&A
      section
        img(src="images/napoleon.jpeg" height="inherit" width="80%")
        br
        small Actually me in highschool
      section
        img(src="images/Orchestra.jpeg" height="inherit" width="80%")
      section
        img(src="images/Catdoor.jpeg" height="inherit" width="80%")
      section
        img(src="images/Laughing.jpeg" height="inherit" width="80%")
      section
        img(src="images/Goodhands.jpeg" height="inherit" width="80%")
      section
        img(src="images/compozed.png" height="inherit" width="80%" style="border:0; background: none; box-shadow: none;")
      section
        img(src="images/pairing.jpeg" height="inherit" width="80%")
      section
        img(src="images/iknowtdd.jpeg" height="inherit" style="max-height:80vh" width="80%")
      section
        img(src="images/cleancode.jpeg" height="inherit" style="max-height:80vh" width="80%")
      section
        h2 What to look for
        ol
          li(class="fragment") Culture
          li(class="fragment") Compensation/Benefits
          li(class="fragment") Career Direction
          li(class="fragment") Career Growth
      section
        h3 Widget Zeitgeist Incorporated
        ol
          li(class="fragment") Stable
          li(class="fragment") "Red Tape"
          li(class="fragment") HR
          li(class="fragment") Entry Level
      section
        h3 Bob, Jane, and Joe's Code Shoppe
        ol
          li(class="fragment") Energetic
          li(class="fragment") Looser
          li(class="fragment") Hard to gain entry
          li(class="fragment") Unstable
      section
        h2 Resources for finding jobs
        ul
          li(class="fragment") Your school career center
          li(class="fragment") Indeed.com
          li(class="fragment") Monster.com
          li(class="fragment") Dice.com
          li(class="fragment") Angellist.com
          li(class="fragment") Recruiting companies
          li(class="fragment") Meetups and Networking
      section
        h2 Your Resume
        ol
          li(class="fragment") No stupid mistakes
          li(class="fragment") Keep it to one page
          li(class="fragment") Brand yourself
          li(class="fragment") Highlight your portfolio
          li(class="fragment") Highlight your skills
      section
        h2 No stupid mistakes
        img(src="images/spelling.jpeg" height="inherit" style="max-height:80vh" width="80%")
        p(class="fragment") Also no highlighter
        p(class="fragment") Or scratched out words
      section
        h2 Keep it on one page
        img(src="images/odyssey.png" class="fragment" height="inherit" style="max-height:60vh" width="60%")
        p(class="fragment") Nobody has time for that
      section
        h3 Brand yourself
        img(src="images/textwall.png" height="inherit" style="max-height:60vh" width="80%")
        ol
          li(class="fragment") Does not stand out
          li(class="fragment") Nobody will read that
          li(class="fragment") Does not identify you
      section
        img(src="images/myresume.png" height="inherit" style="max-height:95vh" width="70%")
      section
        h2 The interview
        img(src="images/interview.jpeg" height="inherit" style="max-height:80vh" width="80%")
      section
        h2 Be Prepared
        img(src="images/cracking.jpeg" height="inherit" style="max-height:80vh" width="60%")
      section
        h2 Communicate Clearly
        ol
          li(class="fragment") Again, be prepared
          li(class="fragment") Avoid Uhhh
          li(class="fragment") Answer with details and stories
          li(class="fragment") Ask Questions
      section
        img(src="images/question.jpeg" height="inherit" style="max-height:80vh" width="80%")
      section
        h2 Possible good questions to ask
        ul
          li(class="fragment") What does your average day at company X look like?
          li(class="fragment") What room for growth is there within company X?
          li(class="fragment") What is the work-life balance like at company X?
          li(class="fragment") When do performance reviews occur?
          li(class="fragment") What is the process for getting a raise?
      section
        h2 The technical interview
        img(src="images/dwight.jpeg" height="inherit" style="max-height:80vh" width="80%")
      section
        h2 the tech interview cont.
        ul
          li(class="fragment") Read Cracking the Coding Interview
          li(class="fragment") Practice what you have learned here
          li(class="fragment") Practice explaining what you are doing
          li(class="fragment") Talk about what you are thinking do not be silent
          li(class="fragment") Practice presenting to people
      section
        h2 Negotiations
        p(class="fragment") Almost every job is negotiable.
        p(class="fragment") Everybody wants a salary increase.
        p(class="fragment") Remember your benefits.
        p(class="fragment") Do -not- give an ultimatum.
      section
        h2 Other miscellaneous tips
        ul
          li(class="fragment") Just before the interview, do the wonder woman pose.
          li(class="fragment") Always research the company before the interview.
          li(class="fragment") Apply everywhere.
          li(class="fragment") Build stuff.
          li(class="fragment") Be active in the community.
          li(class="fragment") Remind yourself that you are good at what you do.
      section
        img(src="images/thanks.jpeg" height="inherit" style="max-height:80vh" width="80%")
      section
        h2 Questions
        small David Bayless
        br
        small CompoZed Labs
        br
        small https://github.com/DavidBayless
        br
        small david.c.bayless15@gmail.com
  script.
    Reveal.initialize({
      history: true
    });
