doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reveal.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/headjs/0.96/head.min.js')
    script(src='javascripts/reveal.js')
  body
    block content
